body{
  background: violet;
}

.Navbar {
  background-color: #faf9f6;
  display: flex;
  padding: 15px 15px 10px 15px;
  font-family: sans-serif;
  color: #262626;
  z-index: 99;
  font-size: 19px;
}

.Navbar__Link {
  margin-right: 15px;
}

.Navbar__Items {
  display: flex;

}

.Navbar__Items a{
  text-decoration: none;
  color: #262626;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  
  .Navbar__Items, .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}